/* Resets and general */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  position: relative;
  height: 100dvh;
}

body {
  font-family: "Roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  line-height: 1.6;
  padding: 20px;
}

h1, h2 {
  color: #333;
}

h1 {
  font-size: 3rem;
}

hr {
  border-top: 1px solid rgb(206, 206, 206);
  align-self: stretch;
  margin: 1rem;
}

h1 + p {
  margin-bottom: 1rem;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.invisible {
  visibility: none;
}

/* Form styling */
form {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

/* Label styling */
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* Input fields styling */
input[type="text"],
input[type="number"],
input[type="checkbox"],
input[type="url"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form.button {
  align-self: flex-end;
}

.is-read-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}

.radio-btn {
  height: 100%;
  margin-top: -5px;
  margin-right: 10px;
  vertical-align: middle;
}

.radio-btn + label {
  margin-right: 10px;
}

/* Button styling */
button {
  background-color: #3b82f6;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  justify-content: center;
}

button:hover {
  background-color: #1f73fa;
}

button.btn-small {
  background-color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 5px 10px;
  border: 2px solid;
}

button.btn-small.red {
  border: 1px solid lightgrey;
  color: #6e1010;
  border-color: #6e1010;
}

button.btn-small.green {
  border: 1px solid lightgrey;
  color: #11752f;
  border-color: #087a2a;
}

button.btn-small.red:hover, button.btn-small.green:hover {
  opacity: 90%;
}

.buttonBox {
  display: flex;
  justify-content: space-between;
}

/* Book list styling */
#book-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
  padding: 20px;
  border-radius: 8px;
  align-self: stretch;
  /* box-shadow: 0 2px 4px rgba(0,0,0,0.1); */
}

/* Card styling for each book */
.card {
  background: white;
  padding: 15px;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  transition: transform 0.3s ease;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card > img {
  width: 150px;
  height: 200px;
  object-fit: cover;
  border-radius: 3px 20px 10px 3px;
  filter: drop-shadow(5px 5px 4px #bfbfc0);
}

.card-title {
  font-size: clamp(24px, 1rem, 30px);
  font-weight: bold;
}

.card-author {
  color: #424242;
  font-weight: bold;
  margin-bottom: 5px;
  border-bottom: 1px solid lightgrey;
}

.card-year {
  font-size: 0.9rem;
}

.card-rating {
  font-size: 2rem;
  margin-bottom: 5px;
}

.card-num-pages {
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.card-is-read {
  font-style: italic;
  color: #5e5c5d;
  margin-bottom: 5px;
}

.card .remove-btn {
  float: right;
  font-weight: bold;
  color: grey;
  border: 1px solid grey;
}

.card .remove-btn:hover{
  background-color: rgb(245, 244, 244);
}

/* RATINGS */

.txt-center {
  text-align: center;
}
.hide {
  display: none;
}

.clear {
  float: none;
  clear: both;
}

.rating {
  width: 120px;
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: left;
  position: relative;
}

.rating > label {
  float: right;
  display: inline;
  font-size: 1.2rem;
  padding: 0;
  margin: 0;
  position: relative;
  width: 1.1em;
  cursor: pointer;
  color: #000;
}

.rating > label:hover,
.rating > label:hover ~ label,
.rating > input.radio-btn:checked ~ label {
  color: transparent;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before,
.rating > input.radio-btn:checked ~ label:before,
.rating > input.radio-btn:checked ~ label:before {
  content: "\2605";
  position: absolute;
  left: 0;
  color: #f39406;
}

/* Star rating display */
.star-rating-filled, .star-rating-unfilled {
  /* display: inline-block; */
  position: relative;
  width: 1.1em;
}

.star-rating-filled::before, .star-rating-unfilled::before {
  content: "★"; /* This sets the star character */
  /* position: absolute; */
}

.star-rating-filled::before {
  color: #f39406; /* Yellow color for filled stars */
}

.star-rating-unfilled::before {
  color: #a3a3a3; /* Transparent color for unfilled stars */
}

/* The Modal (background) */
.form-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.form-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: clamp(350px, 80%, 500px);
}

/* The Close Button */
.close-btn {
  color: #aaa;
  align-self: flex-end;
  font-size: 28px;
  font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}